body {
    background-image: url(../images/background.jpg);
    background-size: 100%;
    font-family: monospace;
    color: white;
    
}
.container{
    margin-top: 100px;
    padding: 10px;
}
.row {
    background-color: rgba(0, 0, 0, 0.800); 
    
}

.img-thumbnail{
    height: 200px;
}
